
body {
  background: #7E9FE1;
  font-family: 'Raleway', sans-serif;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.card {
  background: white;
  border: 1px solid #aaa;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  flex: 0 0 350px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0px 65px 100px -45px rgba(0, 0, 0, 0.3);
}

.header {
  background: #02D8FF;
  color: #4F596C;
  font-size: 30px;
  font-weight: 200;
  padding: 10px;
  text-align: center;
}

.main {
  flex: 1;
  overflow-y: scroll;
  padding: 10px;
}

.footer {
  align-items: center;
  border-top: 1px solid #aaa;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: center;
  flex-direction: column;
  padding: 0px 10px;
}
.footer form {
  display: flex;
  width: 100%;
}
.footer .footer_input {
  border: 1px solid #02D8FF;
  border-radius: 4px 0px 0px 4px;
  flex: 1;
}
.footer .add_btn {
  background: #02D8FF;
  border-radius: 0px 4px 4px 0px;
  font-weight: bold;
  height: 30px;
  width: 100px;
}

.list {
  box-sizing: border-box;
  padding: 10px;
}

.list_item {
  align-items: center;
  border-bottom: 1px solid #ddd;
  display: flex;
  padding: 10px;
}
.list_item label {
  flex: 1;
  font-size: 14px;
  margin-left: 10px;
}
.list_item .item_input {
  border-radius: 2px;
  border: 1px solid #aaa;
  flex: 1;
  height: 20px;
  margin-right: 5px;
  width: 0px;
}

.btn {
  border: none;
  color: white;
  cursor: pointer;
  padding: 2px;
}

.color_btn {
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  height: 20px;
  min-width: 20px;
  margin-right: 5px;
}

.delete_btn {
  background: #ff7f68;
  padding: 2px;
}

.edit_btn {
  background: orange;
  margin-right: 5px;
  padding: 2px;
}

.checked {
  color: #666;
  font-style: italic;
  text-decoration: line-through;
}

.extra_features {
  display: flex;
}

.export_btn, .import_btn {
  background: #02D8FF;
  flex: 1;
}
.export_btn:hover, .import_btn:hover {
  background: #35e0ff;
}
